# Python
__pycache__/
*.pyc
.venv/
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/
.tox/

# OS
.DS_Store
Thumbs.db

# Node (for later frontend)
node_modules/
dist/
build/
